.main-wrapper {
  display: flex;
  position: relative;
  grid-column: 3/-1;
  padding: 0 25px;
  height: 100vh;
  overflow: scroll;
}

@media all and (max-width: 1199px) {
  .main-wrapper {
  }
}

@media all and (max-width: 991px) {
  .main-wrapper {
  }
}

@media all and (max-width: 768px) {
  .main-wrapper {
  }
}

@media all and (max-width: 575px) {
  .main-wrapper {
    grid-column: 1/-1;
  }
  .main-wrapper-full {
    padding: 0 10px 0 15px;
  }
}

// .main-wrapper-full {
//   grid-column: 2/-1;
//   transition: all 1s linear;
// }
