@import url("https://fonts.googleapis.com/css?family=Luckiest+Guy");

.home-wrapper > * {
  margin: 0;
  padding: 0;
  font-family: "Luckiest Guy", cursive;
}

.home-wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  background-image: url(/images/wave.svg);
  background-repeat: no-repeat;
  background-position: 50% 75%;
  background-size: 15rem;
}

.home-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.home-wrapper h1,
.home-wrapper h3,
.home-wrapper a {
  text-align: center;
  margin-bottom: 1rem;
  color: #1b242d;
  letter-spacing: 1px;
}

.home-wrapper img {
  width: 50px;
}

.home-wrapper img:hover {
  color: red;
}

.button-group {
  margin-bottom: 35px;
  .button {
    background-color: #4caf50; /* Green */
    border: none;
    border-radius: 5px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    &:hover {
      border: 2px solid #555555;
      background-color: #555555;
      color: white;
    }
  }
  .button-grey {
    background-color: white;
    color: black;
    border: 2px solid #e7e7e7;
  }
}
