.grid-wrapper {
  display: grid;
  grid-auto-rows: minmax(200px, max-content);
  grid-auto-columns: minmax(min-content, 1fr);

  div {
    border: 1px solid #000;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
  }

  .item1 {
    grid-column-start: 1;
    grid-column-end: 4;
    background-color: tomato;
  }

  .item2 {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 4;
    background-color: lightblue;
  }

  .item3 {
    grid-column-start: 2;
    grid-column-end: 4;
    background-color: lightgreen;
  }

  .item5 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 5;
    background-color: whitesmoke;
  }

  .item6 {
    grid-column-start: 1;
    grid-column-end: 3;
    background-color: mediumorchid;
  }

  .item7 {
    grid-column-start: 1;
    grid-column-end: 4;
    background-color: orange;
  }
}
