@import "../../variables";

.menu-wrapper {
  width: 250px;
  left: 0;
  display: flex;
  position: relative;
  min-height: 100vh;
  height: 100%;
  z-index: 10;
  font-family: "Varela Round", sans-serif;

  nav {
    display: flex;
    position: fixed;
    max-width: 250px;
    height: 100vh;
    overflow: hidden;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    // background-color: #161616;
    background-color: rgba(22, 22, 22, 0.82);
    overflow: visible;

    header {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      max-height: 30vh;
      height: 100%;
      width: 100%;

      picture {
        margin: 0 0 1em 0;

        img {
          display: flex;
          width: 100%;
          max-width: 100px;
          border-radius: 100%;
        }
      }

      .user_hello {
        font-size: 1.5em;
      }
    }

    .menu-link-wrapper {
      height: 100%;
      max-height: 70vh;
      width: 100%;

      .menu-scroll {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 100%;
      }

      .menu-link-section {
        height: auto;
        max-height: 30vh;
        width: 90%;

        ul {
          padding: 0;
          text-align: center;

          li {
            list-style-type: none;
            display: block;
            margin: 1em 0;

            a {
              display: inline-block;
              width: 100%;
              text-decoration: none;
              color: $app-nav-link-color;
              position: relative;

              .link_icon {
                position: relative;
                left: -1em;
              }
            }
          }
        }
      }
    }
  }
}

#show-hide {
  display: block;
  position: absolute;
  height: 100vh;
  width: 15px;
  top: 0;
  right: -15px;
  background: #ffb441;
  // border-top-right-radius: 15px;
  // border-bottom-right-radius: 15px;

  .show-hide-container {
    position: absolute;
    display: inline-block;
    left: -30px;
    top: calc(50% - 22.5px);
    width: 45px;
    overflow: hidden;
    animation-name: toggleOff;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    &.active {
      animation-name: toggleOn;
      animation-duration: 0.5s;
    }
    .dot {
      height: 75px;
      width: 100px;
      background-color: #ffb441;
      border-radius: 50%;
      transform: scaleY(1.1);
      &.active {
        background-color: #091d23;
      }

      .show-hide-nav {
        display: flex !important;
        align-self: center;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translate(100%, -50%);
        width: 10px;
        cursor: pointer;
        vertical-align: middle;
        font-size: 2.3em;
      }
    }
  }
}

// animation form neu button
@keyframes toggleOn {
  from {
    left: 0;
    transform: scale(-1, -1);
  }
  to {
    left: -30px;
    transform: scale(1, 1);
  }
}

@keyframes toggleOff {
  from {
    left: -30px;
    transform: scale(1, 1);
  }
  to {
    left: 0;
    transform: scale(-1, -1);
  }
}

.menu-enter.menu-enter-active {
  left: -250px;
}

.menu-enter-done {
  left: 0;
  transition: all 0.5s linear;
}

.menu-exit.menu-exit-active {
  left: 0;
}

.menu-exit-done {
  left: -250px;
  transition: all 0.5s linear;
}

// ================================================
// ================================================
// ================ Media Queries =================
// ================================================
// ================================================

@media (min-width: 992px) and (max-width: 1299px) {
  .menu-wrapper {
  }

  // ================================================
  // ============== react transition  ===============
  // ================================================

  .menu-enter.menu-enter-active {
    width: 0;
  }

  .menu-enter-done {
    width: 250px;
  }

  .menu-exit.menu-exit-active {
    width: 250px;
  }

  .menu-exit-done {
    width: 0;
  }
}

@media (min-width: 769px) and (max-width: 991px) {
  .menu-wrapper {
    position: fixed;
    nav {
      background: #161616;
    }
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .menu-wrapper {
    position: fixed;
    nav {
      background: #161616;
    }
  }
}

@media (min-width: 0px) and (max-width: 575px) {
  .menu-wrapper {
    position: fixed;
    &.active {
      nav {
        max-width: 100%;
        background: #161616;
      }
    }
  }
  #show-hide {
    right: 0;
  }

  // ================================================
  // ============== react transition  ===============
  // ================================================

  .menu-enter.menu-enter-active {
    width: 0;
    left: calc(-100% + 15px); //make this for mobile phone + rener method fires every time button clicked
  }

  .menu-enter-done {
    width: 250px;
  }

  .menu-exit.menu-exit-active {
    width: 250px;
  }

  .menu-exit-done {
    width: 0;
    left: calc(-100% + 15px);
  }
}
