.main-wrapper {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  justify-content: flex-start;
  position: relative;
  width: 100%;
  max-width: 1200px;
  min-height: 100vh;
  height: 100%;
  margin: 0 25px 0 45px;
  padding: 2em 1em;
  transition: all 0.5s linear;
  z-index: 9;

  section {
    grid-column: 1/-1;
  }
}

// ================================================
// ================================================
// ================ Media Queries =================
// ================================================
// ================================================

@media (min-width: 992px) and (max-width: 1299px) {
  .main-wrapper/*.active*/{
    margin: 0 25px 0 8%;
  }
}

@media (min-width: 769px) and (max-width: 991px) {
  
}

@media (min-width: 576px) and (max-width: 768px) {
 
}

@media (min-width: 0px) and (max-width: 575px) {
 
}


// .main-wrapper-enter.main-wrapper-enter-active {
//   left: 35px;
// }

// .main-wrapper-enter-done {
//   left: 250px;
//   transition: all 0.5s linear;
// }

// .main-wrapper-exit.main-wrapper-exit-active {
//   left: 250px;
// }

// .main-wrapper-exit-done {
//   left: 10px;
//   margin: 0 3% 0 1%;
//   transition: all 0.5s linear;
// }