<main class="home-wrapper">
  <h1>React Cinema App Server API</h1>
  <h3>Learning React by building 5 Projects</h3>
  <section>
    <div class="button-group">
      <div class="button button-grey">
        <a href="/api">/</a>
      </div>
      <div class="button button-grey">
        <a href="/api/movies/tt4669788">get Movie</a>
      </div>
      <div class="button button-grey">
        <a href="/api/movies/name/alien">get Movies By Name</a>
      </div>
      <div class="button button-grey">
        <a href="/api/movies">get Movies</a>
      </div>
    </div>
  </section>
  <a href="https://github.com/MaxBaranowski/react-cinema">
    <img src="/images/github-logo-dark.svg" alt="">
  </a>
</main>