<main class="home-wrapper">
    <h1>React Cinema App Server</h1>
    <h3>Learning React by building 5 Projects</h3>
    <a href="https://github.com/MaxBaranowski/react-cinema">
        <img src="/images/github-logo-dark.svg" alt="">
    </a>
    <section>
        <div class="button-group">
            <div class="button button-grey">
                <a href="/">Home</a>
            </div>
            <div class="button button-grey">
                <a href="/api">Api</a>
            </div>
        </div>
    </section>
</main>