@import "../variables.scss";

.menu-wrapper {
  width: 250px;
  left: 0;
  display: flex;
  position: relative;
  background-color: #0e0e0e;
  height: 100vh;
  z-index: 10;
  font-family: "Varela Round", sans-serif;
  nav {
    display: flex;
    position: relative;
    width: 250px;
    height: 100vh;
    overflow: hidden;

    main {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      position: absolute;
      height: 100vh;
      width: 100%;

      header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        picture {
          margin: 0 0 1em 0;
          img {
            display: flex;
            width: 100%;
            max-width: 100px;
            border-radius: 100%;
          }
        }
        .user_hello {
          font-size: 1em;
          font-size: 1.5em;
          #user_name {
          }
        }
      }

      .menu-link-section {
        height: auto;
        max-height: 30vh;
        width: 90%;
        ul {
          li {
            list-style-type: none;
            display: block;
            margin: 1em 0 1em 0;
            .link_icon {
              margin: 0 1em 0 0;
            }
            a {
              text-decoration: none;
              color: $app-nav-link-color;
            }
          }
        }
      }
    }
  }
}

// ================================================
// ================================================
// ================ Media Queries =================
// ================================================
// ================================================

@media (min-width: 1300px) {
  .menu-wrapper {
    nav {
      main {
        position: fixed;
        width: 250px;
        background-color: #0e0e0e;
        height: 100vh;
      }
    }
  }
  .menu-enter.menu-enter-active {
    left: -240px;
  }

  .menu-enter-done {
    left: 0;
    transition: all 0.5s linear;
  }

  .menu-exit.menu-exit-active {
    left: 0;
  }

  .menu-exit-done {
    left: -240px;
    transition: all 0.5s linear;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .menu-wrapper {
    position: fixed;
    left: -240px;
    min-height: 100vh;

    nav {
      width: 250px;
      height: 100vh;
      main {
        width: 250px;
      }
    }
  }

  .menu-enter.menu-enter-active {
    left: -240px;
  }

  .menu-enter-done {
    left: 0;
    transition: all 0.5s linear;
  }

  .menu-exit.menu-exit-active {
    left: 0;
  }

  .menu-exit-done {
    left: -240px;
    transition: all 0.5s linear;
  }
}

@media (min-width: 769px) and (max-width: 991px) {
  .menu-wrapper {
    position: fixed;
    left: -240px;
    min-height: 100vh;

    nav {
      width: 250px;
      height: 100vh;
      main {
        width: 250px;
      }
    }
  }

  .menu-enter.menu-enter-active {
    left: -240px;
  }

  .menu-enter-done {
    left: 0;
    transition: all 0.5s linear;
  }

  .menu-exit.menu-exit-active {
    left: 0;
  }

  .menu-exit-done {
    left: -240px;
    transition: all 0.5s linear;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  .menu-wrapper {
    position: fixed;
    left: -240px;
    min-height: 100vh;

    nav {
      width: 250px;
      height: 100vh;
      main {
        width: 250px;
      }
    }
  }

  .menu-enter.menu-enter-active {
    left: -240px;
  }

  .menu-enter-done {
    left: 0;
    transition: all 0.5s linear;
  }

  .menu-exit.menu-exit-active {
    left: 0;
  }

  .menu-exit-done {
    left: -240px;
    transition: all 0.5s linear;
  }
}

@media (min-width: 0px) and (max-width: 575px) {
  .menu-wrapper {
    position: fixed;
    left: -240px;
    min-height: 100vh;
    width: 100vw;
    nav {
      width: 100vw;
      height: 100vh;
      main {
        width: 100%;
      }
    }
  }

  .menu-enter.menu-enter-active {
    left: -240px;
  }

  .menu-enter-done {
    left: 0;
    transition: all 0.5s linear;
  }

  .menu-exit.menu-exit-active {
    left: 0;
  }

  .menu-exit-done {
    left: calc(-100vw - -10px);
    transition: all 0.5s linear;
  }
}
