/* appear - on page load */
.menu-wrapper {
  width: 250px;
  left: 0;
  display: flex;
  position: relative;
  background-color: #000;
  height: 100vh;
  z-index: 10;

  aside {
    position: fixed;
  }

  nav {
    display: flex;
    position: relative;
    width: 250px;
    height: 100vh;
    overflow: hidden;
  }
}

@media (min-width: 1200px) {
  .menu-wrapper {
    aside {
      position: fixed;
      width: 250px;
      background-color: #000;
      height: 100vh;
    }
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .menu-wrapper {
    position: fixed;
    left: -240px;
    min-height: 100vh;

    aside {
      width: 250px;
    }
    nav {
      width: 250px;
      height: 100vh;
    }
  }

  .menu-enter.menu-enter-active {
    left: -240px;
  }

  .menu-enter-done {
    left: 0;
    transition: all 1s linear;
  }

  .menu-exit.menu-exit-active {
    left: 0;
  }

  .menu-exit-done {
    left: -240px;
    transition: all 1s linear;
  }
}

@media (min-width: 769px) and (max-width: 991px) {
  .menu-wrapper {
    position: fixed;
    left: -240px;
    min-height: 100vh;

    aside {
      width: 250px;
    }
    nav {
      width: 250px;
      height: 100vh;
    }
  }

  .menu-enter.menu-enter-active {
    left: -240px;
  }

  .menu-enter-done {
    left: 0;
    transition: all 1s linear;
  }

  .menu-exit.menu-exit-active {
    left: 0;
  }

  .menu-exit-done {
    left: -240px;
    transition: all 1s linear;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  .menu-wrapper {
    position: fixed;
    left: -240px;
    min-height: 100vh;

    aside {
      width: 250px;
    }
    nav {
      width: 250px;
      height: 100vh;
    }
  }

  .menu-enter.menu-enter-active {
    left: -240px;
  }

  .menu-enter-done {
    left: 0;
    transition: all 1s linear;
  }

  .menu-exit.menu-exit-active {
    left: 0;
  }

  .menu-exit-done {
    left: -240px;
    transition: all 1s linear;
  }
}

@media (min-width: 0px) and (max-width: 575px) {
  .menu-wrapper {
    position: fixed;
    left: -240px;
    min-height: 100vh;
    width: 100vw;

    aside {
      width: 250px;
    }
    nav {
      width: 100vw;
      height: 100vh;
    }
  }

  .menu-enter.menu-enter-active {
    left: -240px;
  }

  .menu-enter-done {
    left: 0;
    transition: all 1s linear;
  }

  .menu-exit.menu-exit-active {
    left: 0;
  }

  .menu-exit-done {
    left: calc(-100vw - -10px);
    transition: all 1s linear;
  }
}

.menu-hide {
  left: 0;
}
