{
  "presets": ["@babel/preset-env"],
  "plugins": [
      ["@babel/transform-runtime",
        "replace-require", {
        "GLOBAL_REQUIRE": "global.myBetterRequire",
        "REQUIRED_REQUIRE": "require('require-from-somewhere-else')"
      }]
  ]
}