@import "../components/variables.scss";

* {
  box-sizing: border-box;
}

body {
  background-color: $app-dark;
  color: $app-font-dark;
}

#app {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.show-hide-nav {
  display: flex !important;
  align-self: center;
  position: absolute;
  right: 0;
  width: 10px;
  height: 100px;
  background-color: #333333 /*#f68e1f*/;
  cursor: pointer;
}
