* {
  box-sizing: border-box;
}

#app {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.show-hide-nav {
  display: flex !important;
  align-self: center;
  position: absolute;
  right: 0;
  width: 15px;
  height: 100px;
  border-radius: 15px;
  background-color: #c70000;
  cursor: pointer;
}
