.content-wrapper {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 0 0em 4em 0em;

  .content-banner {
    display: flex;
    width: 100%;
    height: 35em;
    border: 1px solid #fff;
    border-radius: 1em;
    padding: 1em;
  }

  .content-sections {
    display: flex;
    flex-direction: column;

    header {
      .searchParams {
        .filter {
          display: inline-block;
          -moz-box-sizing: border-box;
          -webkit-box-sizing: border-box;
          box-sizing: border-box;
          font-weight: 500;
          border-width: 2px;
          border-style: solid;
          white-space: nowrap;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
          cursor: pointer;
          font-size: 14px;
          line-height: 18px;
          height: 32px;
          min-width: 10em;
          border-radius: 3px;
          padding: .5em 1em .5em .5em;
          background-color: rgba(39, 39, 41, 0);
          border-color: rgba(39, 39, 41, .3);
          border-color: #fff;
          color: #272729;
          color: #fff;
          text-align: left;

          span {
            position: relative;
            display: block;

            &:after {
              position: absolute;
              right: 0;
              top: calc(50% - .5em);
              transform: rotate(90deg);
              -webkit-transition: all .3s;
              transition: all .3s;
              content: "\02770";
              font-size: 1em;
              line-height: 1em;
            }

            &:hover {
              &:after {
                transform: rotate(-90deg);
              }
            }
          }
        }
      }
    }

    .section {
      display: flex;
      flex-direction: column;

      header {
        margin: 0em 0 1em 0;
      }

      .section-body {
        display: grid;
        grid-template-columns: repeat(6, minmax(min-content, 1fr));
        grid-gap: 1em;

        .movie {
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          height: 100%;
          min-height: 200px;
          border-radius: 1em;
          overflow: hidden;
          box-shadow: inset 0 0 20px 0px #ffffff38;
          background: transparent;

          .movie-body {
            height: auto;

            img {
              width: 100%;
              height: 20em;
              object-fit: cover;
            }
          }

          .movie-description {
            height: 20%;
            padding: 0 0 0 0.3em;

            .movie-name {
              margin: 0.5em 0;
              font-size: 1em;
            }

            .movie-genre {
              margin: 0;
              font-size: 1em;
              color: #86868680;
            }
          }
        }
      }
    }
  }
}

// ================================================
// ================================================
// ================ Media Queries =================
// ================================================
// ================================================

@media (min-width: 1300px) {
}

@media (min-width: 992px) and (max-width: 1299px) {
  .content-wrapper {
    .content-sections {
      .section {
        .section-body {
          grid-template-columns: repeat(5, minmax(min-content, 1fr));
        }
      }
    }
  }
}

@media (min-width: 769px) and (max-width: 991px) {
  .content-wrapper {
    .content-sections {
      .section {
        .section-body {
          grid-template-columns: repeat(4, minmax(min-content, 1fr));
        }
      }
    }
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .content-wrapper {
    .content-sections {
      .section {
        .section-body {
          grid-template-columns: repeat(3, minmax(min-content, 1fr));
        }
      }
    }
  }
}

@media (min-width: 0px) and (max-width: 575px) {
  .content-wrapper {
    .content-sections {
      .section {
        .section-body {
          grid-template-columns: repeat(2, minmax(min-content, 1fr));
        }
      }
    }
  }
}
