@import url("https://fonts.googleapis.com/css?family=Varela+Round&subset=latin-ext");

$menu-dark: #151515;
$app-dark: #0e0e0e;
$app-light: #f1f1f1;
$app-font-dark: #868686; //#333;
$app-nav-link-color: #868686;
