.searchBar {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;

  main {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    box-sizing: border-box;
    cursor: pointer;
    border: 2px solid;
    padding: 10px 20px;
    border-radius: 50px;
    border-color: #868686;
    // background-color: #161616;
    background-color: rgba(22, 22, 22, 0.82);
    z-index: 2;

    .search-icon {
      width: 30px;
      height: 30px;
    }

    .search-field {
      flex: 1;
      padding: 0 15px;

      input[type="text"] {
        width: 100%;
        line-height: 30px;
        font-size: 1.5em;
        border: none;
        outline: none;
        background: transparent;
      }
    }

    // &.searchBar-active {
    //   border-color: #868686;
    // }
  }

  .search-results {
    flex: 0 0 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    top: -25px;
    width: 100%;
    padding: 35px 25px 10px 25px;
    box-shadow: 0 15px 10px 5px #161616;
    background: #161616;
    border-left: 2px solid;
    border-right: 2px solid;
    border-bottom: 2px solid;
    border-color: #868686;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    z-index: 1;

    .search-results-item {
      display: flex;
      flex-direction: row;
      // background: #0000007a;
      cursor: pointer;
      margin-bottom: 15px;
      &:hover {
        // background-color: #1f1f1f;
        border-right: 5px solid #ffb441;
      }
      img {
        align-self: center;
        height: 100px;
        max-width: 65px;
        min-width: 60px;
        background-image: url(/images/templates/cinema.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
      }

      .search-result-description {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        width: 100%;
        height: auto;
        margin-left: 50px;

        h1 {
          margin: 10px 0;
          font-size: 1.5em;
        }
        p {
          font-size: 1em;
        }
      }
    }
  }
}
